<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Products"
             type="My.MyConfigSection, My.Assembly" />
  </configSections>
  <appSettings>
    <add key="DBServer" value="DESKTOP-UDHGPBO"/>
    <add key="DBDatabase" value="AgileBanking"/>
    <add key="DBTable" value="dbo.CORSERV_ACCT_OPENED_BY"/>
    <add key="Infile" value="C:\Users\brent\AgileBanking\CB\test\CorServ\FileIn.txt"/>
    <add key="Outfile" value="C:\Users\brent\AgileBanking\CB\test\CorServ\~_FileOut.txt"/>
    <add key="AppSetting" value="C:\Users\brent\source\repos\mcroal1965\CorServCreditCardETL\App.config"/>
    <add key="ErrorFile" value="C:\Users\brent\AgileBanking\CB\test\CorServ\GIM_Repair_Notification_~.txt"/>
    <add key="Backup" value="N"/>
  </appSettings>
  <Products>
    <Product Name = "Mastercard Business Platinum" Code = "BP" Type ="Business"/>
    <Product Name = "Mastercard Business Platinum Rewards" Code = "BPR" Type ="Business"/>
    <Product Name = "Mastercard Business World Elite" Code = "NBW" Type ="Business"/>
    <Product Name = "Mastercard Corporate" Code = "CORP" Type ="Business"/>
    <Product Name = "Mastercard Corporate Rewards" Code = "CR" Type ="Business"/>
    <Product Name = "Mastercard Low Rate Platinum" Code = "LRCP" Type ="Personal"/>
    <Product Name = "Mastercard Platinum" Code = "CP" Type ="Personal"/>
    <Product Name = "Mastercard Purchasing" Code = "PUR" Type ="Business"/>
    <Product Name = "Mastercard Business Low Rate Platinum" Code = "LRBP" Type ="Business"/>
    <Product Name = "Mastercard Platinum Rewards" Code = "CPR" Type ="Personal"/>
    <Product Name = "Mastercard World" Code = "NCW" Type ="Personal"/>
  </Products>
</configuration>